$("body").append("<div><%= escape_javascript(@post.title) %> <%= escape_javascript(link_to 'Editer', edit_post_path(@post), :remote => true) %> <%= escape_javascript(link_to 'Supprimer', @post, confirm: 'Etes-vous sur ?', :remote => true, method: :delete) %> </div>"); 
$("form#new_post").remove();
$("a[href='<%= new_post_path %>']").fadeIn();
