<h1>Blog</h1>

<ul>  

<li>Posts List</li>

<% @posts.each do |post| %> 

     <p>----------------</p>
     <p>Titre : <%= post.title %></p>
     <p>Corps : <%= post.body %></p>
     <p><%= link_to "Look", post_path(post) %></p>
     <p>----------------</p>
     
<% end %>
    <p> <%= link_to "Create a new Post", new_post_path %> </p>
</ul>


