<h1>Blog</h1>

<ul>  

<li>Posts List</li>

<% @posts.each do |post| %> 
     <li><%= post.title %></li>
     <li><%= post.body %></li>
     <li>----------------</li>
     
<% end %>
    <p> <%= link_to "Create a new Post", new_post_path %> </p>
</ul>


