<h1>Post Show</h1>

<ul>  

<li>Post id = @post.id</li>

     <p>Titre : <%= @post.title %></p>
     
     <p>Corps : <%= @post.body %></p>
     <p><%= link_to "Back", posts_path %></p>
     
    <p> <%= link_to "Back", posts_path %> </p>
</ul>

